extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Alex Lujan

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer .

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
           I don't go by or change my attitude based on what people say. At the end of the day, they, too, are judging me from their perspective. I would rather be myself and let people accept me for what I am than be somebody who I am not, just because I want people's approval. Karan Patel
            
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Other cool stuff
          li Listing my skills
          li Pug
          li Javascript. 
          li Jquery.

        h6 Contact Info

        //- Add your own contact info
        ul
          li 908-234-2431
          li hipolito.lujan.flores@verizon.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/Lujanhi' target="_blank") GitHub   
        a.button.expanded(href='https://twitter.com/login' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  